*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.menu-bar{
    min-height: 8%;
    background: #FF9800;
}
.menu-bar img{
    width: 120px;
    background: #FF9800;
}
a.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: black ;
}
.active{
    color: #000 !important;
}
.navbar-toggler{
    outline: none;
}
.navbar-toggler-icon{
    color: #fff;
}
#kids{
    width: 400px;
}
.banner{
    min-height: 77%;
    color: #555;
}
.banner img{
    width: 100%;
}
.info{
    margin: 24% auto;
}
.info h1{
    font-size: 30px;
}
.info a{
    width: 135px;
    color: #fff !important;
    text-decoration: none !important;
    padding: 15px 25px;
    margin: 5% auto;
    background: #FF9800;
    display: inline-block;
}
.info .second-btn{
    border: 1px solid #FF9800 !important;
    background: transparent !important;
    color: #555 !important;
    transition: .5s;
}
.info .second-btn:hover{
    background: #FF9800 !important;
    color: #fff !important;
}
.footer-widget{
    min-height: 15%;
    background-image: linear-gradient(to right,#ff9800,#a46406);
    padding: 21px 0;
    display: inline-flex;
    color: #fff;
}
.footer-text{
    padding-left: 25px;
}
.footer-widget .fa-solid{
    font-size: 25px;
}
.row{
    margin: 0 !important;
}
.social-icons{
    margin: 0 20px;
}
.social-icons .fa-brands{
    padding: 10px;
}
@media(max-width:960px){
    .footer-widget{
        background-image: linear-gradient(#ff9800,#a46406);
    }
}