*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
.banner{
    height: 100vh;
    position: relative;
}
.slider{
    width: 93%;
    float: left;
}
.carousel-item img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}
.carousel-caption{
    max-height: 350px !important;
    max-width: 500px !important;
    text-align: right !important;
    right: 60px !important;
    left: auto !important;
    top: 160px !important;
}
.carousel-caption h1{
    font-size: 70px;
}
.carousel-caption p{
    margin-top: 40px;
}
.side-menu{
    height: 100%;
    width: 7%;
    float: right;
    background-color: #ff0000;
    position: relative;
    /* z-index: 2; */
}
.fa-solid{
    color: white;
    font-size: 30px;
}
.fa-bars{
    width: 40px;
    margin: 25px;
    cursor: pointer;
}
.fa-magnifying-glass{
    width: 30px;
    margin: 30px;
    cursor: pointer;
}
.side-menu::after{
    content: '';
    width: 1px;
    height: 130px;
    background: #fff;
    left: 45px;
    top: 200px;
    position: absolute;
}

.carousel-indicators {
    position: absolute !important;
    flex-direction: column;
    top: 55% !important;
    left: 84% !important;
    width: 95px !important;
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    margin-left: 40px !important; /* Adjusted to stack vertically */
    margin-top: 15px !important;
    background: transparent !important;
    border: 2px solid #fff !important;
}
.share{
    margin-top: 60px;
    margin-left: 15px;
}
.share .fa-solid{
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}
.top-bar{
    position: absolute;
    margin: 30px 50px;
    z-index: 2;
}
.top-bar img{
    height: 40px;
    cursor: pointer;
}
.top-bar ul{
    display: inline-flex;
}
.top-bar ul li{
    list-style: none;
    margin: 15px 20px;
}
.top-bar ul li a{
    color: #fff;
    display: block;
    padding-top: 5px;
    text-decoration: none;
}
.social-icons{
    top: 35%;
    left: 5%;
    position: absolute;
    z-index: 2;
}
.social-icons ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 20px;
}
.social-icons ul li a{
    color: white;
}